[Interface]
# Key for media-server
# Bouncing = 3
# NAT-PMP (Port Forwarding) = on
# VPN Accelerator = on
PrivateKey = gKju2ZmaE1Jl1dxBFVD03ogCmxqH4URExjoPj5s/3U4=
Address = 10.2.0.2/32
DNS = 10.2.0.1

[Peer]
# NL-FREE#102
PublicKey = n4RGP+MGDzRHZ1eoPLQZgpuWxtjnW7qL8qzOP1DRvHo=
AllowedIPs = 0.0.0.0/0
Endpoint = 212.8.243.68:51820
